<!DOCTYPE html>
<html>
  <head>

<!--[if IE 7 ]>    <html class= "ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class= "ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class= "ie9"> <![endif]-->

    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />

    <link rel="SHORTCUT ICON" HREF="../../public/images/favicon.ico">

	<link rel="stylesheet" type="text/css" media="screen" href="../../public/css/main.css">
	<script src="../../public/js/main.js" type="text/javascript"></script>
	
    <title>My title</title>


  </head>
  <body>


  </body>
</html>


